{% extends 'SilentD/base2.html' %}
{% load staticfiles %}
{% block navbar_amr %} active {% endblock %}
{% block body_block %}

    <link href="{% static 'css/dataTables.bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet">
    <link href="{% static 'css/dataTables.colVis.css'%}" rel="stylesheet">
    <link href="{% static 'css/dataTables.tableTools.css'%}" rel="stylesheet">
    <link href='{% static 'css/font-awesome.min.css' %}' rel="stylesheet">

    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/dataTables.colVis.js' %}"></script>
    <script src="{% static 'js/dataTables.tableTools.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>


    <style>

        .panel-heading a:after {
            font-family: 'Glyphicons Halflings', serif;
            content:"\e114";
            float: right;
            color: grey;}

        /*Author: Kosmom.ru*/
        .loading,.loading>td,.loading>th,.nav li.loading.active>a,.pagination li.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
            background-size: 40px 40px;
            animation: 2s linear 0s normal none infinite;
            -webkit-animation: progress-bar-stripes 2s linear infinite;
        }
        .btn.btn-default.loading,input[type="text"].loading,select.loading,textarea.loading,.well.loading,.list-group-item.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
            background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
        }

        .btn-good {
            float: left;
            padding: 3px;
            font-size: 13px;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            border: 2px solid black;
            background-color: #4eed36
        }

        .btn-intermediate {
            float: left;
            padding: 3px;
            font-size: 14px;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            border: 2px solid black;
            background-color: yellow;
            color: black;
        }

        .btn-unsuccessful {
            float: left;
            padding: 3px;
            font-size: 14px;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            border: 2px solid black;
            background-color: red
        }

        .btn-error {
            float: left;
            padding: 3px;
            font-size: 14px;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            border: 2px solid black;
            background-color: #ff7705;
            text-align: center;
            line-height: 13px;

        }

        .btn.btn-report {
            float: left;
            height: 24px;
            padding: 5px;
            text-align: center;
            line-height:12px;
        }

    </style>

    <section class="content-header">
        <h1>
            GeneSippr Results
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="panel3">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseThree" href="#collapseThree">Usage and Additional Info</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                GeneSippr .............
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" id="panel4">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#collapseSymbols" href="#collapseSymbols">Symbol Legend</a>
                                </h4>
                            </div>
                            <div id="collapseSymbols" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h5 style="text-decoration: underline; font-size: 14px; padding-bottom: 8px">
                                        Previous Jobs Tab
                                    </h5>
                                    <li>
                                        <td style="padding: 5px">
                                            <a class="btn btn-primary btn-xs"><i class="fa fa-cloud-download"></i></a>
                                            <span style="font-weight: bold;">
                                                &nbsp&nbsp&nbsp&nbsp Download:
                                            </span>
                                             This will allow the user to download a copy of the html to your local computer.
                                        </td>
                                    </li>
                                    <br>
                                    <h5 style="text-decoration: underline; font-size: 14px; padding-bottom: 8px;">
                                        Results Tab
                                    </h5>
                                    <li>
                                        <button disabled  class="btn-good">
                                            <i class="fa fa-fw fa-thumbs-o-up" aria-hidden="true"></i>
                                        </button>
                                        <span style="font-weight: bold;">
                                                &nbsp&nbsp&nbsp&nbsp Successful Run:
                                        </span>
                                        &nbsp is when the total number of matches are off by 1 or
                                            less than the total number of possible matches.
                                    </li>
                                    <br>
                                    <li>
                                        <button disabled  class="btn-intermediate">
                                            <i class="fa fa-fw fa-question" aria-hidden="true"></i>
                                        </button>
                                        <span style="font-weight: bold;">
                                                &nbsp&nbsp&nbsp&nbsp Intermediate Run:
                                        </span>
                                        &nbsp is when the total number of matches are off by more than 1
                                            but less than or equal to 5 when compared to the total number of possible matches.
                                    </li>
                                    <br>
                                    <li>
                                        <button disabled  class="btn-unsuccessful">
                                            <i class="fa fa-fw fa-thumbs-o-down" aria-hidden="true"></i>
                                        </button>
                                        <span style="font-weight: bold;">
                                                &nbsp&nbsp&nbsp&nbsp Unsuccessful Run:
                                        </span>
                                        &nbsp is when the total number of matches are off by more than 5
                                            when compared to the total number of possible matches.
                                    </li>
                                    <br>
                                    <li>
                                        <button disabled  class="btn-error">
                                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                                        </button>
                                        <span style="font-weight: bold;">
                                                &nbsp&nbsp&nbsp&nbsp Error:
                                        </span>
                                        &nbsp A problem occured during the run, results may be unreliable.
                                    </li>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-body">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs">
                            {% if results %}
                                <li class="nav"><a href="#1" data-toggle="tab">Previous Jobs</a></li>
                                <li class="nav active"><a href="#2" data-toggle="tab">Results</a></li>
                            {% else %}
                                <li class="nav active"><a href="#1" data-toggle="tab">Previous Jobs</a></li>
                            {% endif %}
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div class="tab-pane fade in {% if not results %}active{% endif %}" id=1>
                                <button type="button" id="reload" class="btn btn-primary btn-sm" onclick="location.href='.'"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>

                                <br>
                                <br>
                                <table id="T1" class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Project Name</th>
                                        <th>Number of Files</th>
                                        <th>Results</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% if projects %}
                                        {% for project in projects %}
                                            <tr>
                                                <td>{{ project.date|date:"m-d-Y-H:i"  }}</td>
                                                <td>{{ project.description  }}</td>
                                                <td>{{ project.num_files }}</td>
                                                <td>
                                                    {% if project.genesippr_results == "Running" %}
                                                        <button disabled type="submit" id="submit" class="btn btn-info btn-xs loading custombutton">Running</button>
                                                    {% elif project.genesippr_results == "Error" %}
                                                        <button disabled type="submit" id="submit" class="btn btn-danger btn-xs custombutton">Error</button>
                                                    {% elif project.genesippr_results == "Done" %}
                                                            <div>
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <form class="form-inline" role="form" action="{% url "genesippr" %}" method="post">
                                                                                {% csrf_token %}
                                                                                <input type="hidden" name="result" value="">
                                                                                <input type="hidden" name="id" value="{{ project.id }}">
                                                                                <button type="submit" id="submit" class="btn btn-success btn-xs custombutton">Results</button>
                                                                            </form>
                                                                        </td>
                                                                        <td style="padding: 5px">
                                                                            <a href="{{ project.geneseekr_results.url }}" class="btn btn-primary btn-xs"><i class="fa fa-cloud-download"></i></a>
                                                                        </td>
                                                                </table>
                                                            </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            {% if results %}
                            <br>
                            <div class="tab-pane fade in active" id=2>
                                {% if current_project %}
                                    <h2 style="font-size: 26px; text-align: center">Results for Project: <strong>{{ current_project.description }}</strong></h2>
                                {% endif %}
                                <table id="T2" class="table table-striped table-condensed">
                                    <caption style="font-size: 16px;">Base information from the GeneSippr task.<br></caption>
                                    <thead>
                                    <tr>
                                        <th>Strain</th>
                                        <th>Genus</th>
                                        <th>Matches</th>
                                        <th>Review of Results</th>
                                        <th>Details</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for result in results %}
                                            <tr>
                                                <td>{{ result.strain }}</td>
                                                <td>{{ result.genus }}</td>
                                                <td>{{ result.matches }}</td>
                                                <td>
                                                    <div class="results">
                                                        {% if result.runtype == "successful" %}
                                                            <!-- &nbsp&nbsp&nbsp&nbsp  Successful Run -->
                                                            <button disabled  class="btn-good">
                                                                <i class="fa fa-fw fa-thumbs-o-up" aria-hidden="true"></i>
                                                            </button>
                                                        {% elif result.runtype == "intermediate" %}
                                                            <!-- &nbsp&nbsp&nbsp&nbsp  Intermediate Run -->
                                                            <button disabled  class="btn-intermediate">
                                                                <i class="fa fa-fw fa-question" aria-hidden="true"></i>
                                                            </button>
                                                        {% elif result.runtype == "unsuccessful" %}
                                                            <!-- &nbsp&nbsp&nbsp&nbsp  Unsuccessful Run -->
                                                            <button disabled  class="btn-unsuccessful">
                                                                <i class="fa fa-fw fa-thumbs-o-down" aria-hidden="true"></i>
                                                            </button>
                                                        {% elif result.runtype == "Error" %}
                                                            <!-- &nbsp&nbsp&nbsp&nbsp  Error -->
                                                            <button disabled  class="btn-error">
                                                                <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                                                            </button>
                                                        {% endif %}
                                                    </div>
                                                </td>
                                                <td>
                                                    <form class="form-inline" role="form" action="{% url "genesippr" %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="Strain" value="{{ result.strain }}">
                                                        <input type="hidden" name="Genus" value="{{ result.genus }}">
                                                        <input type="hidden" name="Matches" value="{{ result.matches }}">
                                                        <input type="hidden" name="id" value="{{ result.project_id }}">
                                                        <button type="submit" id="submit" class="btn btn-success btn-report">GeneSippr Report</button>
                                                    </form>
                                                </td>

                                            </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>

                                <!-- If there are results in the genesippr report, the output they will be displayed on the webpage -->
                                {% if genesippr %}
                                <br>
                                <br>
                                    <h3 style="font-size: 24px; text-decoration: underline;">More Details</h3>
                                <br>
                                    <table id="T3" class="table table-striped table-condensed">
                                        <caption style="font-size: 18px;">More information from the genesippr report.<br></caption>
                                        <thead>
                                            <tr>
                                                <td>Strain</td>
                                                <td>Genus</td>
                                                {% for key, value in genesippr.items %}
                                                    <td>{{ key }}</td>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <!-- First display info from the project, then display the gene information -->
                                            {% for key, value in info.items %}
                                                <td>{{ value }}</td>
                                            {% endfor %}
                                            {% for key, value in genesippr.items %}
                                                <td>{{ value }}</td>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                            </div>
                            {% endif %}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div>
        </div>

        <!-- Datatables Initialization Script -->
        <script type="text/javascript">

            //Initialize datatables and sort by Date descending
            $('#T1').DataTable( {
                "order": [[ 0, "desc" ]]
            } );

            $('#T2').DataTable( {
                dom: 'CT<"clear">lfrtip',
                tableTools: {
                    "aButtons": [ "copy", "xls","print"],
                    "sSwfPath": '{% static 'swf/copy_csv_xls_pdf.swf' %}'
                },
                "sScrollX": "100%"
            } );

            $('#T3').DataTable( {
                dom: 'CT<"clear">lfrtip',
                tableTools: {
                    "aButtons": [ "copy", "xls","print"],
                    "sSwfPath": '{% static 'swf/copy_csv_xls_pdf.swf' %}'
                },
                "sScrollX": "100%"
            } );


            $(".progress-bar").animate({
                width: "100%"
            }, 11000);

        </script>

    </section><!-- /.content -->
{% endblock %}
