{% extends 'SilentD/base2.html' %}
{% load staticfiles %}
{% block body_block %}
    <section class="content-header">
        <h1>
            Welcome to the GeneSippr Portal!
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <!-- Default box -->
                <div class="box box-solid box-success">
                    <div class="box-header">
                        <h3 class="box-title">Information</h3>
                    </div>
                    <div style="background-color: #dadada" class="box-body">
                        <p>This webtool allows users to run Genesippr - a linux command line tool - from inside a website. <br><br>
                            A pair of files in .fastq.gz format, can be uploaded to the website where a project may be created.
                            The project should include the files you would like to run a Genesippr task on, however many projects
                            can be created. <br><br> Upon the Genesippr task completing the results may be viewed under the
                            'GeneSippr Results' side bar.</p><br>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
    </section>
{% endblock %}