{% extends 'SilentD/base2.html' %}
{% load staticfiles %}
{% block body_block %}
    <section class="content-header">
        <h1>
            Welcome to the GeneSippr Portal!
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <!-- Default box -->
                <div class="box box-solid box-success">
                    <div class="box-header">
                        <h3 class="box-title">Information</h3>
                    </div>
                    <div class="box-body">
                        <p>This webtool assists with the detection of .............
                            Genomes can be uploaded in .fastq.gz format. Upon upload, the GeneSippr tool will........ </p><br>

                        Here are two sample files to get you started: (not proper flies)<br>
                        <a href='{% static 'NZ_CTHP01000001.1_Salmonella_enterica.fasta' %}'> Salmonella genome</a><br>
                        <a href='{% static 'NZ_JNPQ01000001.1_Escherichia_coli.fasta' %}'> E.coli genome</a>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>
    </section>
{% endblock %}