{% extends 'SilentD/base2.html' %}
{% load staticfiles %}
{% block navbar_data %} active {% endblock %}
{% block body_block %}
    <link href="{% static 'css/dataTables.bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/dataTables.colVis.css'%}" rel="stylesheet">
    <link href="{% static 'css/dataTables.tableTools.css'%}" rel="stylesheet">
    <link href="{% static 'css/select2.css'%}" rel="stylesheet">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet">


    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/dataTables.colVis.js' %}"></script>
    <script src="{% static 'js/dataTables.tableTools.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>

    <style>
        #scrollable-dropdown-menu .tt-dropdown-menu {
            max-height: 150px;
            overflow-y: auto;
        }
    </style>
    <section class="content-header">
        <h1>
            Current GeneSippr Projects
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        {% if messages %}
            <!-- Any messages made while creating the project will be displayed here -->
            {% for message in messages %}
                <div class="alert alert-{% if message.level_tag == 'error' %}danger{% else %}{{ message.level_tag }}{% endif %}">
                    {{ message.message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <!-- Default box -->
                <div class="box box-info">
                    <div class="box-header">
                        <ul class="nav nav-tabs">
                            <!--<li class="nav active"><a href="#formtab0" data-toggle="tab">MiSeq Runs</a></li>-->
                            <!--<li class="nav"><a href="#formtab1" data-toggle="tab">Individual FastQ Pairs</a></li>-->
                            <li class="nav active"><a href="#formtab2" data-toggle="tab">Custom FastQ Projects</a></li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="tab-content"></div>

                            <div class="tab-pane fade in active" id='formtab2'>
                                <table id="fastq_projects" class="table table-striped table-condensed customtable">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date</th>
{#                                        <th>Organism</th>#}
                                        <th>Num. of Files</th>
                                        <th>File Names</th>
                                        <th>Jobs</th>
                                        <th>Results</th>
                                        <th>Delete Project</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% if fastq_projects %}
                                        {% for project in fastq_projects %}
                                            <tr>
                                                <td>{{ project.description }}</td>
                                                <td>{{ project.date|date:"Y-m-d-P" }}</td>
                                                <td>{{ project.num_files }}</td>
                                                <td>{% for file in project.files.all %}
                                                    <a href="{{ file.file.url }}">{{ file.name }}</a><br>
                                                {% endfor %}</td>
                                                <td>
                                                    <form id="JobForm" action="{% url "projects" %}" name='JobForm' method="post" enctype="multipart/form-data" class="form-inline">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="project_id" value="{{ project.id }}">
                                                        <select title='Analysis' onchange="this.form.submit()" id="job" name="job" class="form-control">
                                                            <option disabled selected value="Run">Select Job&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                            <!--<option disabled value="spades_start">SPAdes Assembly</option>-->
                                                            <option value="geneseekr_start">GeneSeekr</option>
                                                        </select>
                                                    </form>
                                                </td>
                                                <td> <!-- Here Lies All The Buttons Responsible for Background Tasks -->
                                                    <table>
                                                        {% if project.amr_results %}
                                                            <form role="form" action="{% url "projects" %}" method="post">
                                                                {% csrf_token %}
                                                                {% if project.amr_results == 'Running' %}
                                                                    <input type="hidden" name="amr_running" value="{{ project.id }}">
                                                                    <button type="button" id="amr" class="btn btn-xs btn-info custombutton loading" disabled>GeneSippr</button>
                                                                {% elif project.amr_results == 'Done' %}
                                                                    <input type="hidden" name="amr_results" value="{{ project.id }}">
                                                                    <button type="submit" id="amr" class="btn btn-xs btn-success custombutton">GeneSippr</button>
                                                                {% elif project.amr_results == 'Error'  %}
                                                                    <input type="hidden" name="amr_results" value="{{ project.id }}">
                                                                    <button type="submit" id="amr" class="btn btn-xs btn-danger custombutton">GeneSippr</button>
                                                                {% else %}
                                                                {% endif %}
                                                            </form>
                                                            &nbsp;
                                                        {% endif %}
                                                    </table>
                                                </td>
                                                <td>
                                                    <form style='float: right;' role="form" action="{% url "projects" %}" method="post">
                                                        &nbsp;
                                                        {% csrf_token %}
                                                        <input type="hidden" name="id" value="{{ project.id }}">
                                                        <input type="hidden" name="delete" value="{{ project.id }}">
                                                        <button type="submit" id="submit11"
                                                                class="btn btn-danger btn-xs">
                                                            <i class="fa fa-trash-o" style="padding: 5px; font-size: 20px;"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- Custom FastA Projects -->
                        </div> <!-- /.Tab content -->
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>

        <script type="text/javascript">
            jQuery(document).ready(function($) {
                // Project Table Initialization
                var files2 = $('#fastq_projects').DataTable({
                    dom: 'C<"clear">lfrtip',
                    "order": [[1, "desc"]],
                    colVis: {
                        "buttonText": "Toggle Chart Columns",
                        exclude: [0, 1, 5, 6]  //also a column six where results should be that is not excluded
                    },
                    "columnDefs": [
                        {"visible": false, "targets": [2]}
                    ]
                });

                $('select').select2();
            });

        </script>
    </section><!-- /.content -->
{% endblock %}